
.separator-lrg {

    padding: 150px;

}
.separator-sml {

    padding: 20px;

}

.welcome {

    font-size: 56px;

}

.form-control {

    text-align: center;
    
}

.bordered {

    border-bottom: 8px solid grey;
    width: 100%;

}